html {
    font-family: 'Cormorant', serif;
}

body {
    background-color: rgba(211, 229, 214, 0.574);
}

.card {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 16px;
    background-color: rgba(225, 187, 225, 0.544);
    padding: 16px 10px 16px 16px;
    margin-bottom: 25px;
    position: relative;
}

.card-delete {
    position: absolute;
    right: 10px;
    top: 16px;
}

.card-change {
    position: absolute;
    right: 45px;
    top: 16px;
}

.card-author {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-email {
    margin-top: 0;
    font-size: 14px;
    color: #56558b;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000025;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form {
    background-color: #ffffff;
    border-radius: 10px;
    width: 550px;
    padding: 16px 10px 16px 16px;
}

.modal-form input {
    display: block;
    margin-bottom: 20px;
    width: 400px;
}

.modal-form textarea {
    display: block;
    width: 400px;
}

.modal-form button {
    display: block;
    margin-top: 20px;
}

.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #3c524aa2;
    z-index: 9999;
}

.preloader {
    /* size */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    border-radius: 50%;
}

